<a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>


    <div class="header">
        <div class="header_infos">
            <img src="../../static/emailsadd/images/yellow%20logo.png" class="header_logo">
            <div class="header_menu">
                <div class="header_user"> Hello, {{ user }}</div>
            </div>
        </div>
        <div class="header_image">
            <div class="header_image_text">
                EASILY SEND INVITATIONS, MANAGE ATTENDANCE AND GET FEEDBACK
            </div>
        </div>

    </div>


 <a href="../../my_events" >My Activities</a> <br> <br>

<u>{{booking.event_name}}</u>

<ul>
{% for p in participants %}
    <li>{{p.participants_name}} --- {% if p.approved %} APPROVED {% else %} NOT APPROVED {% endif %}</li>
{% endfor %}
</ul>