<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/tabs.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'emailsadd/js/general.js' %}"></script>
    <script src="{% static 'emailsadd/js/tabs.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>
<body>

    <div class="header">
        <div class="header_infos">
            <div class="spaceforlogo"></div>
            <img src="{% static  'emailsadd/images/yellow%20logo.png' %}" class="header_logo">
            <div class="header_menu">

                <div class="header_user"> Hello, {{ user }}</div>
                <a href="{% url 'django.contrib.auth.views.logout' %}" class="logout_link"> logout</a>
        </div>
</div>
        <div class="header_image">
            <div class="header_image_text">
                EASILY SEND INVITATIONS, MANAGE ATTENDANCE AND GET FEEDBACK
            </div>
        </div>

<div class="col-lg-2"></div>
<div class="col-lg-8">

    <br>
<div class="col-lg-1"></div>
    <div class="header_booked_events col-lg-10">
   <div class="intro_text col-lg-5">You have {{number_of_bookings}} booked events </div>
    <button class="new_invite_btn col-lg-5"><a class="my_new_event" href="../">CREATE NEW INVITE</a></button>
        <br>
        </div>


<div class="my_event_list col-lg-12">

{% for e in booking %}
<div class="col-md-1"></div>
    <div class="my_event_unit col-lg-10">
        <div class=" col-lg-3">
             <img  name="image_preview" id="image_preview_status" class="view_image_event" src="{{ e.pic.url }}">
        </div>
    <div class="my_event_infos col-lg-4">
        <div class="my_event_infos_name">{{e.event_name}}</div>
        <div class="my_events_info_fromtime_totime"> from {{e.from_time}} <br>to {{e.to_time}}</div>
    </div>
         <button class="check_status_btn col-lg-4"><a class="my_new_status" href="../status/{{e.id}}">Check Status</a></button>
    </div>
{% endfor %}
    </div>

<div class="col-md-1"></div>
    </div>
        </div>
    </div>

</body>