<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>emailsadd</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/bootstrap.min.css' %}"/>-->
    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/tabs.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'emailsadd/js/general.js' %}"></script>
    <script src="{% static 'emailsadd/js/tabs.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


</head>
<body class="{{mode}}">

<div class="col-md-2"></div>
<div class="col-md-8">
   {{ user}}
    {% if user.is_anonymous %}
    <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
    {% else %}
    <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
    {% endif %}
    {% block content %}
    {% endblock %}

    {% if user.is_authenticated %}
</div>
<div class="col-md-2"></div>
    <div class="header">
        <div class="header_infos">
            <div class="spaceforlogo"></div>
            <img src="../../static/emailsadd/images/yellow%20logo.png" class="header_logo">
            <div class="header_menu">
                <button class="my_activity_btn"><a class="my_activity" href="../emailsadd/my_events">MY ACTIVITIES</a></button>

                <div class="header_user"> Hello, {{ user }}</div>
        </div>
</div>
        <div class="header_image">
            <div class="header_image_text">
                EASILY SEND INVITATIONS, MANAGE ATTENDANCE AND GET FEEDBACK
            </div>
        </div>

<div class="col-md-2"></div>
<div class="col-md-8">

    <br>
    <div class="col-md-1"></div>

    <form method="post" action="{% url 'postform' %}" name="form" class="display_form col-md-10" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <div class="intro_text">Create a new invitation</div>
        <br>
        <input type="text" class="input-text-one" name="event_name" placeholder="Add booked activity's name"
               required ><br>
        <input type="text" class="input-text-one" name="event_description"
               placeholder="Add booked activity's description" required ><br>

        <div class="col-md-12" style="padding:0px">
            <div class="input_location col-lg-7">
                                <input type="text" class="input_loc" name="location" placeholder="Location"><br>
                <input type="date" class="input-date" name="date" id="datepicker" placeholder="Date" required value="today">
                                <div class="time-holder">
                                    <div class="to_time_div">
                        <div class="adding_time">from</div>
                <input type="time" name="from_time" class="time_input" placeholder="Time" required></div>
                   <div class="to_time_div"> <div class="adding_time">to</div>
                <input type="time" name="to_time" class="time_input" placeholder="Time"><br></div></div>

                <input type="text" class="input_descr" name="manager_message"
                       placeholder="Here you can write more about the activity or leave a personal note for your team."><br>
                <input type="text" class="input_loc" name="manager_name" placeholder="Add manager's name (Signature for the invite)" required ><br>
            </div>

            <div class="upload_holder col-lg-5">
                <div id="upload_image">
                     <img src="" name="image_preview" id="image_preview" class="view_image" />
                    <div id="input_img_btn">
                     <input type="file" id="files" name="image" class="btn_upload"/></div>
                    <br/>
                </div>
            </div>
        </div>

        <div>

        <ul class="tab">

            <li><a href="#" class="tablinks" onclick="openCity(event, 'London')">SEND TO ALL PARTICIPANTS</a>
            </li>
            <li><a href="#" class="tablinks" onclick="openCity(event, 'Paris')">SEND ONLY TO MY E-MAIL</a></li>
        </ul>


        <div id="London" class="tabcontent">
            <input type="number" min="1" max="5000" id="participants_number" class="input_part"
                   name="participants_number"
                   placeholder="Participants" required value="1"><br>
            <div class="email_holder">
                <div id="email_participant_input input_location">
                    <input type="text" class="input_name" name="participants_name0" placeholder="Name" value="mila">
                    <input type="text" class="input_mail" name="participants_email0" placeholder="E-mail" value="milacukierman@gmail.com">

                </div>
            </div>
            <button>Upload .xls or CSV</button>
        </div>

        <div id="Paris" class="tabcontentp">
            <div>
                {% if booking %}
                {% for booker in booking %}
                {{ booker.manager_name }} {{ booker.manager_email }}
                {% endfor %}
                {% endif %}
            </div>
        </div>
            </div>

        <br>
        <div class="final_btns">
        <div class="checkbuttons">
        <input type="checkbox" name="send_reminder" value="True" checked> Send reminder to participants one day
        before the activity<br>
        <input type="checkbox" name="send_survey" value="True" checked>Send request to answer the feedback
        survey one day after the event<br>
        </div>

        <br>
        <div class="`">
            <div class="plus_btn">
                <!--<button type="button" class="button_invite_preview" ><a href="../emailsadd/user_invitation.html"></a>PREVIEW</button>-->


            <!--<button class="button_invite_preview"> -->
                <a  class="button_invite_preview" href="user_invitation">PREVIEW</a>
                <input type="submit" class="button_invite_send" value="  SEND "><br>
                <br>
            </div>
        </div>
            </div>

    </form>


    <div class="col-md-1"></div>


</div>
{% endif %}
</div>
<div class="col-md-2"></div>

</body>
</html>

