
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/style.css' %}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


{% if booking %}

<div class="col-md-2" > </div>
<div class="col-md-8" >

<div class="button_confirm">
`   <a href="http://127.0.0.1:8000/emailsadd/approved/{{invitee.id}}" class="button_invite_preview">WILL ATTEND</a>
    <a href="http://127.0.0.1:8000/emailsadd/approved/{{invitee.id}}" class="button_invite_preview">WILL  NOT ATTEND</a>
    </div>

<div class="box">

        <div class="box1">
            <div class="text1"> YOU ARE INVITED TO  </div> <br>
            <div class="text2"> {{ booking.event_name }}</div>
            <div class="text3"> {{ booking.description }} </div>
     </div>

  <div class="box2">

      <div class="text3"> {{ booking.date }} from {{booking.from_time }} to {{booking.to_time }} </div>
      <div class="text3"> {{ booking.location }} </div>

     </div>

     <div class="box3">
        <div class="text4"> {{ booking.manager_message }}</div>

     </div>

     <div class="box4">

         <!--<li>{{ booking.pic.image }}</li>-->
         <!--<li>{{ booking.pic.url }}</li>-->
         <img src="{{ booking.pic.url }}" name="image_preview" height="200" alt="Image preview">


     </div>
     </div>
</div>
<div class="col-md-2" > </div>


{% endif %}

