



{% if booking %}


<div>


    HEEYY {{ booking.participants_name}}
    YOU ARE BEING INVITED TO THE {{ booking.event_name }}
    WILL HAPPEN AT {{ booking.location }} AT {{ booking.date }}, {{booking.to_time }}, {{booking.from_time }}


    SEE YOU THERE,
    {{ booking.manager_name }}



    <!--<img src="{{ image_src }}" name="image_preview" height="200" alt="Image preview">-->

</div>

<a href="http://127.0.0.1:8000/emailsadd/approved/{{invitee.id}}" style="background-color:blue;color:white;padding:5px 20px;text-decoration: none;">Confirm</a>



{% endif %}
