


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/register_login.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/style.css' %}"/>


{% block content %}

<body class="body">

<div class="col-md-2"></div>
<div class="col-md-8">

     <div class ="register_box" style="height: 40%">
      <div class="logo"></div>


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td class="id_username">{{ form.username.label_tag }}</td>
    <td class="id_username">{{ form.username }}</td>
</tr>
<tr>
    <td class="id_username">{{ form.password.label_tag }}</td>
    <td class="id_username">{{ form.password }}</td>
</tr>
</table>

<input class="login_btn button_login" type="submit" value="LOGIN" />
<input class="login_btn" type="hidden" name="next" value="{{ next }}" />
</form>

</div>

</div>

<div class="col-md-2"></div>

{% endblock %}

 </body>