
{% extends "emailsadd/invite_home.html" %}



{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/register_login.css' %}"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8">

      <div class="logo"></div>
    <div register_box >

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="login_box" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td class="input_login">{{ form.username.label_tag }}</td>
    <td class="input_login">{{ form.username }}</td>
</tr>
<tr>
    <td class="input_login">{{ form.password.label_tag }}</td>
    <td class="input_login">{{ form.password }}</td>
</tr>
</table>

<input class="login_btn" type="submit" value="login" />
<input class="login_btn" type="hidden" name="next" value="{{ next }}" />
</form>

</div>
</div>
<div class="col-md-2"></div>

{% endblock %}