


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'emailsadd/css/register_login.css' %}"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script >
    </script>

<div class="col-md-2"></div>

<div class="col-md-8">

      <img src="../../static/emailsadd/images/yellow%20logo.png" class="logo">
 <div class="register_box">

  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <ul>
      <li id> </li>
      </ul>


      <input class="register_btn " type="submit" value="Create the account">
      <input class="login_btn" type="submit" value="login" />

  </form>


</div>
     </div>

<div class="col-md-2"></div>
